<a href="https://colab.research.google.com/github/sahikapathan/ML-FILE-71/blob/main/ML_file3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#from re import split
#supervised - output already there , data is labeled
#nsupervised - data is not labeled , no output , useful for hidden patterns
#<classification - it is categorical, like true or false
#regression - it is continuous, like price

#rows - observations / samples
#columns -variables / attributes

##feature (x) - input columns like age, salary
#target(y) - output variable , like loan status

#rules:
#ml learns pattern from x
#with that ml predicts y

#machine laerning flow:

#problem / model framing
#feature understanding
##feature - target separation
#train test split
#processing
#modeling

In [2]:
from google.colab import files
uploaded = files.upload()

Saving loan_approval_dataset.csv to loan_approval_dataset.csv

In [3]:
import numpy as np
import pandas as pd

df = pd.read_csv('loan_approval_dataset.csv')

In [4]:

df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [5]:
df.tail()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [6]:
df.size

55497

In [7]:
df.describe()

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
count,4269.000000,4269.000000,4.269000e+03,4.269000e+03,4269.000000,4269.000000,4.269000e+03,4.269000e+03,4.269000e+03,4.269000e+03
mean,2135.000000,2.498712,5.059124e+06,1.513345e+07,10.900445,599.936051,7.472617e+06,4.973155e+06,1.512631e+07,4.976692e+06
std,1232.498479,1.695910,2.806840e+06,9.043363e+06,5.709187,172.430401,6.503637e+06,4.388966e+06,9.103754e+06,3.250185e+06
min,1.000000,0.000000,2.000000e+05,3.000000e+05,2.000000,300.000000,-1.000000e+05,0.000000e+00,3.000000e+05,0.000000e+00
25%,1068.000000,1.000000,2.700000e+06,7.700000e+06,6.000000,453.000000,2.200000e+06,1.300000e+06,7.500000e+06,2.300000e+06
50%,2135.000000,3.000000,5.100000e+06,1.450000e+07,10.000000,600.000000,5.600000e+06,3.700000e+06,1.460000e+07,4.600000e+06
75%,3202.000000,4.000000,7.500000e+06,2.150000e+07,16.000000,748.000000,1.130000e+07,7.600000e+06,2.170000e+07,7.100000e+06
max,4269.000000,5.000000,9.900000e+06,3.950000e+07,20.000000,900.000000,2.910000e+07,1.940000e+07,3.920000e+07,1.470000e+07

In [8]:
df.isnull().sum()

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

In [9]:
df.columns = df.columns.str.strip()

In [10]:
x=df.drop('loan_status',axis=1)
y=df['loan_status']
print(x.columns)
#in this
#y is what we want to predict
#xis the data after we remove the target to avoid data leakage

Index(['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value'],
      dtype='object')

In [11]:
#Checking the missing values
df.isnull().sum()

loan_id                     0
no_of_dependents            0
education                   0
self_employed               0
income_annum                0
loan_amount                 0
loan_term                   0
cibil_score                 0
residential_assets_value    0
commercial_assets_value     0
luxury_assets_value         0
bank_asset_value            0
loan_status                 0
dtype: int64

In [12]:
#train and test split
from sklearn.model_selection import train_test_split
#scikit -learn,it is one of the most popular python libraries for ML
#train and test split is to avoid the data leakage

x_train,x_test,y_train,y_test=train_test_split(
    x,y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

# x_train -input data for training
# x_test -input data for testing
# y_train -correct answers for training
# y_test -correct answers for testing

# x_train + y_train - model learned
# x_test + y_test - model is evaluated
#stratify means spliting training and testing the data

In [13]:
x_train.shape

(3415, 12)

In [14]:
x_test.shape

(854, 12)

In [15]:
x_train.value_counts()

loan_id  no_of_dependents  education     self_employed  income_annum  loan_amount  loan_term  cibil_score  residential_assets_value  commercial_assets_value  luxury_assets_value  bank_asset_value
4269     1                 Graduate      No             9200000       29700000     10         607          17800000                  11800000                 35700000             12000000            1
1        2                 Graduate      No             9600000       29900000     12         778          2400000                   17600000                 22700000             8000000             1
3        3                 Graduate      No             9100000       29700000     20         506          7100000                   4500000                  33300000             12800000            1
4        3                 Graduate      No             8200000       30700000     8          467          18200000                  3300000                  23300000             7900000             1
5        5                 Not Graduate  Yes            9800000       24200000     20         382          12400000                  8200000                  29400000             5000000             1
                                                                                                                                                                                                      ..
16       5                 Not Graduate  No             4700000       10700000     10         794          5700000                   3900000                  16400000             4400000             1
15       1                 Not Graduate  No             1900000       7400000      6          469          1900000                   1200000                  5900000              1900000             1
13       3                 Not Graduate  Yes            5000000       11600000     16         311          6400000                   9600000                  14600000             4300000             1
11       4                 Graduate      Yes            2900000       11200000     2          547          8100000                   4700000                  9500000              3100000             1
10       5                 Not Graduate  No             1100000       4300000      10         388          3200000                   1400000                  3300000              1600000             1
Name: count, Length: 3415, dtype: int64

In [16]:
y_train.value_counts()

loan_status
Approved    2125
Rejected    1290
Name: count, dtype: int64

In [17]:
y_test.value_counts()

loan_status
Approved    531
Rejected    323
Name: count, dtype: int64

In [18]:
y_test.value_counts(normalize=True)

loan_status
Approved    0.62178
Rejected    0.37822
Name: proportion, dtype: float64

In [19]:
# the topics we are did are:
# model framing
# target identified
# feature-target separation
# missing values check_
# train and test split using random state and stratify
# verified the split:
# x trian shape ,x test shape
# y train value, y test value

In [20]:
x_train.dtypes

loan_id                      int64
no_of_dependents             int64
education                   object
self_employed               object
income_annum                 int64
loan_amount                  int64
loan_term                    int64
cibil_score                  int64
residential_assets_value     int64
commercial_assets_value      int64
luxury_assets_value          int64
bank_asset_value             int64
dtype: object

In [21]:
y_train.dtypes

dtype('O')

In [22]:
x_train = x_train.drop(['loan_id'],axis=1)
x_test = x_test.drop(['loan_id'],axis=1)

#loan id is just an identifier which has no meaning,if we np.kaiser
# if ,the model may learn noise
# removing unnecessary columns from the model train and np.test

In [23]:
x_train.dtypes

no_of_dependents             int64
education                   object
self_employed               object
income_annum                 int64
loan_amount                  int64
loan_term                    int64
cibil_score                  int64
residential_assets_value     int64
commercial_assets_value      int64
luxury_assets_value          int64
bank_asset_value             int64
dtype: object

In [24]:
from re import A
# encoding the model x train and x test
# one hot encode categorical features

from sklearn.preprocessing import OneHotEncoder

categorical_cols=["education","self_employed"]
ohe = OneHotEncoder(drop='first',sparse_output=False)
x_train_cat=ohe.fit_transform(x_train[categorical_cols])
x_test_cat=ohe.transform(x_test[categorical_cols])

# the drop is to remove the redunant columns to avoid dummy variable trap
# sparse in default would store then as numpy ,
# if false itll give the encoded data as a normal table of numbers instead compressing it

In [25]:
x_train_cat.shape

(3415, 2)

In [26]:
np.unique(x_train_cat)

array([0., 1.])

In [27]:
np.unique(x_test_cat)

array([0., 1.])

In [28]:
ohe.get_feature_names_out(categorical_cols)

array(['education_ Not Graduate', 'self_employed_ Yes'], dtype=object)

In [29]:
ohe.categories_

[array([' Graduate', ' Not Graduate'], dtype=object),
 array([' No', ' Yes'], dtype=object)]

In [43]:
# Scaling numeric features:data preprocessing technique used to standardize or normalize the range of independent variables or features in a dataset.
# encoding: refers to the process of converting data from one format to another,converting data into numerical into binary
# StandardScaler: from scikit-learn is a preprocessing class that implements standardization. Standardization (also known as Z-score normalization)
# transforms data such that it has a mean of 0 and a standard deviation of 1.
from sklearn.preprocessing import StandardScaler

numeric_cols=x_train.drop(columns=categorical_cols).columns
scaler=StandardScaler()
x_train_num=scaler.fit_transform(x_train[numeric_cols])
x_test_num=scaler.transform(x_test[numeric_cols])

In [54]:
x_train_num_df = pd.DataFrame(x_train_num,columns=numeric_cols,index=x_train.index)
x_train_num_df.head()
x_test_num_df = pd.DataFrame(x_test_num,columns=numeric_cols,index=x_test.index)
x_test_num_df.head()

# x_test_num_df=pd.DataFrame(
#     x_test_num,
#     columns=numeric_cols,
#     index=x_test.index
# )
# x_test_num_df.head()

,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
2346,0.305326,1.057681,1.239248,0.899145,1.690054,1.300742,-0.151628,1.087606,-0.292459
1162,-0.869535,-1.122302,-1.206223,-1.200636,0.126180,-0.421494,-0.496865,-0.835282,-1.250062
3061,-0.282104,-0.621978,-0.605971,1.249108,1.724807,0.385319,-0.934164,-0.329837,-0.014446
483,0.305326,-0.907877,-0.694897,0.199218,-0.348774,-0.390463,-0.727022,-0.659475,-0.508692
2102,-0.869535,1.021944,1.583837,-1.550599,1.000791,1.580024,1.804714,0.582161,-0.292459

In [55]:
x_train_num_df.mean()

no_of_dependents            1.430448e-16
income_annum               -8.530674e-17
loan_amount                 8.530674e-17
loan_term                  -1.924603e-16
cibil_score                -2.642428e-16
residential_assets_value    4.369370e-17
commercial_assets_value    -1.248391e-17
luxury_assets_value        -1.040326e-16
bank_asset_value            1.316013e-16
dtype: float64

In [56]:
x_train_num_df.std()

no_of_dependents            1.000146
income_annum                1.000146
loan_amount                 1.000146
loan_term                   1.000146
cibil_score                 1.000146
residential_assets_value    1.000146
commercial_assets_value     1.000146
luxury_assets_value         1.000146
bank_asset_value            1.000146
dtype: float64

In [57]:
x_train_num_df.min(), x_train_num_df.max()

(no_of_dependents           -1.456965
 income_annum               -1.729838
 loan_amount                -1.639738
 loan_term                  -1.550599
 cibil_score                -1.727300
 residential_assets_value   -1.166245
 commercial_assets_value    -1.141306
 luxury_assets_value        -1.626413
 bank_asset_value           -1.528075
 dtype: float64,
 no_of_dependents            1.480187
 income_annum                1.736692
 loan_amount                 2.717647
 loan_term                   1.599072
 cibil_score                 1.747975
 residential_assets_value    3.302260
 commercial_assets_value     3.323755
 luxury_assets_value         2.647892
 bank_asset_value            3.012814
 dtype: float64)

In [58]:
df.shape

(4269, 13)

In [49]:
x.shape

(4269, 12)

In [50]:
x_train.shape

(3415, 11)

In [51]:
x_train_num_df.shape

(3415, 9)

In [52]:
x_train_cat.shape

(3415, 2)

In [59]:
# feature ,combination or concatination
x_train_final=np.hstack([x_train_num_df,x_train_cat])
x_test_final=np.hstack([x_test_num_df,x_test_cat])

In [60]:
x_train_final.shape

(3415, 11)

In [61]:
x_test_final.shape

(854, 11)

In [62]:
# # logistic regression is the correct one because the target is categorical output-approved
#  logistic regression is used for classification and predicts problems convert it into class
#  0 and 1,works well as baseline modelit is simple,fast and easy to implement

In [63]:
#logistic regression model
from sklearn.linear_model import LogisticRegression
model=LogisticRegression(max_iter=1000)
model.fit(x_train_final,y_train)

# max iter=1000 is for logistic regression to leant using the number
# of iterations(optimization)defaultiteration are not enoough model
# fails to cover this is where the model learns the pattern from the data

LogisticRegression(max_iter=1000)

In [64]:
# evaluate accuracy
from sklearn.metrics import accuracy_score

y_pred=model.predict(x_test_final)
accuracy_score(y_test,y_pred)

0.9227166276346604

In [65]:
recap=pd.DataFrame({
    'y_test':y_test,
    'y_pred':y_pred
})
recap.head()

         y_test     y_pred
2346   Approved   Approved
1162   Approved   Approved
3061   Approved   Approved
483    Rejected   Approved
2102   Approved   Approved

In [66]:
# problem framing
# EDA
# data quality check:checking missing values
# feature target sepration
# train and test split
# feature type identification
# removing unnecessary columns
# categorical feature encoding
# numeical feature scaling
# feature combination
# model training
# model evaluation